/* Global */
.heading-site {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}


/*
header
*/
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    z-index: 999;
}

.header .header-logo {
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 30px;
    color: aliceblue;

}

.header .header-menu {
    float: right;
    margin-right: 30px;
}

.header .header-menu a {
    margin-right: 15px;
    color: black;
}

.header .header-menu a:hover {
    color: rgb(180, 32, 136);
}

.banner {
    margin-top: -20px;
}

.banner .banner-image {
    position: relative;
}

.banner .banner-content {
    position: absolute;
    width: 100%;
    top: 30%;
    text-align: center;
}

.banner .banner-content h1 .banner .banner-content h2 {
    color: #ffffff;
}

.iconcolor {
    font-size: 64px;
    color: #1a0099;
}

.about .about-single-element {
    text-align: center;
}

.about .about-single-element p {
    text-align: left;
    margin-top: 20px;
}